Node-red samples for DSI/DSI Entity and Msg viewer.txt
[{"id":"e09118c4.4455a8","type":"inject","z":"29179d92.0d7652","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":"","x":190,"y":80,"wires":[["96e1f5b7.564668","40d2bdc2.562474","21833127.27f33e"]]},{"id":"96e1f5b7.564668","type":"http request","z":"29179d92.0d7652","name":"Get Rooms","method":"GET","ret":"txt","url":"https://ibmbpm-rpa:9445/ibm/ia/rest/solutions/clinic_scenario_solution/entity-types/clinic_scenario.Room","tls":"","x":170,"y":260,"wires":[["d51a40a8.114ee"]]},{"id":"d51a40a8.114ee","type":"xml","z":"29179d92.0d7652","name":"XML to JSON","property":"payload","attr":"","chr":"","x":360,"y":260,"wires":[["5764502.480fab"]]},{"id":"21833127.27f33e","type":"template","z":"29179d92.0d7652","name":"css","field":"style","fieldType":"msg","format":"html","syntax":"mustache","template":"table {\n    color: #333;\n    font-family: Helvetica, Arial, sans-serif;\n    width: 100%;\n    border-collapse: collapse;\n    border-spacing: 0;\n}\ntd, th {\n    border: 1px solid transparent;\n    /* No more visible border */\n    height: 30px;\n    transition: all 0.3s;\n    /* Simple transition for hover effect */\n}\nth {\n    background: #DFDFDF;\n    /* Darken header a bit */\n    font-weight: bold;\n}\ntd {\n    background: #FAFAFA;\n    text-align: center;\n}\n\n/* Cells in even rows (2,4,6...) are one color */\n\ntr:nth-child(even) td {\n    background: #F1F1F1;\n}\n\n/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */\n\ntr:nth-child(odd) td {\n    background: #FEFEFE;\n}\ntr td:hover {\n    background: #666;\n    color: #FFF;\n}\n\n/* Hover cell effect! */","x":710,"y":80,"wires":[["c40b9164.67d18"]]},{"id":"bbf27110.549d8","type":"ui_template","z":"29179d92.0d7652","group":"395b5085.357b3","name":"Clinic Status View","order":2,"width":"6","height":"2","format":"\n<h2 ng-if=\"true\">{{ msg.payload[1].clinicName }}</h2>\n<table>\n  <tr><td># Rooms</td><td>{{ msg.payload[2].numberOfRooms }}</td></tr>\n  <tr><td># Ready</td><td>{{ msg.payload[5].numberOfRoomsREADY }}</td></tr>\n  <tr><td># In Use</td><td>{{ msg.payload[3].numberOfRoomsINUSE }}</td></tr>\n  <tr><td># Not Ready</td><td>{{ msg.payload[4].numberOfRoomsNOTREADY }}</td></tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1010,"y":120,"wires":[[]]},{"id":"427e0905.f72598","type":"change","z":"29179d92.0d7652","name":"","rules":[{"t":"set","p":"payload.clinicName","pt":"msg","to":"payload.object.attribute[0].collection[0].object[0].attribute[1].string","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":340,"wires":[["45a668ad.f52d08"]]},{"id":"45a668ad.f52d08","type":"function","z":"29179d92.0d7652","name":"Clinic to JSON","func":"var i;\nvar x;\nvar preetext = \"[\";\nvar headtext = \"\";\nvar text = \"\";\nvar posttext = \"{}]\";\nvar finaltext = \"\";\nif(msg.payload == null){\n    text += \"{\\\"room\\\": \\\"No Rooms\\\", \\\"status\\\": \\\"No status\\\"},\";\n    text += posttext;\n} else {\n    for (i = 0; i < msg.payload.object.attribute[0].collection[0].object.length; i++) { \n        for(x = 0; x < msg.payload.object.attribute[0].collection[0].object[i].attribute.length; x++){\n\t\t    if(msg.payload.object.attribute[0].collection[0].object[i].attribute[x].$.name == \"roomNumber\"){\n\t\t        text += \"{\\\"room\\\": \\\"\" + msg.payload.object.attribute[0].collection[0].object[i].attribute[x].string[0] + \"\\\", \\\"status\\\": \\\"\";\n\t\t    \n\t\t    } \n\t\t    if(msg.payload.object.attribute[0].collection[0].object[i].attribute[x].$.name == \"roomStatus\"){\n\t\t        text += msg.payload.object.attribute[0].collection[0].object[i].attribute[x].object[0].$.staticReference + \"\\\"}\";\n\t\t        if((i+1) < i < msg.payload.object.attribute[0].collection[0].object.length){\n    \t    \t    text += \",\";\n\t    \t    }\n\t        } \n\t    }\n    }\n    finaltext += preetext;\n    finaltext += headtext;\n    finaltext += text;\n    finaltext += posttext;\n}\nif(finaltext == \"\"){\n   finaltext += \"[{\\\"room\\\": \\\"No Rooms\\\", \\\"status\\\": \\\"No status\\\"}]\";\n}\n//var msg1 = { payload: { msg.payload.object}, {finaltext} };\nvar msg1 = {\n                \"clinicName\": msg.payload.clinicName,\n                \"payload\": finaltext\n            };\nreturn msg1;\n","outputs":1,"noerr":0,"x":540,"y":340,"wires":[["9e106a2b.6ae468"]]},{"id":"9e106a2b.6ae468","type":"json","z":"29179d92.0d7652","name":"","property":"payload","action":"","pretty":false,"x":830,"y":340,"wires":[[]]},{"id":"40d2bdc2.562474","type":"http request","z":"29179d92.0d7652","name":"Get Clinic","method":"GET","ret":"txt","url":"https://ibmbpm-rpa:9445/ibm/ia/rest/solutions/clinic_scenario_solution/entity-types/clinic_scenario.Clinic","tls":"","x":160,"y":120,"wires":[["6cfcb7ab.8f7008"]]},{"id":"6cfcb7ab.8f7008","type":"xml","z":"29179d92.0d7652","name":"XML to JSON","property":"payload","attr":"","chr":"","x":360,"y":120,"wires":[["c0066ed8.2189c"]]},{"id":"6a7eaf78.e20e2","type":"ui_template","z":"29179d92.0d7652","group":"395b5085.357b3","name":"Room Status View","order":3,"width":"6","height":"2","format":"<table>\n  <tr>\n    <td>Room</td>\n    <td>Status</td>\n  </tr>\n  <tr ng-repeat=\"obj in msg.payload\">\n    <td>{{ obj.room }}</td>\n    <td>{{ obj.status }}</td>\n  </tr>\n</table>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":1030,"y":260,"wires":[[]]},{"id":"5764502.480fab","type":"function","z":"29179d92.0d7652","name":"Clinic to JSON","func":"var i;\nvar x;\nvar preetext = \"[\";\nvar headtext = \"\";\nvar text = \"\";\nvar posttext = \"{}]\";\nvar finaltext = \"\";\nif(msg.payload == null){\n    text += \"{\\\"room\\\": \\\"No Rooms\\\", \\\"status\\\": \\\"No status\\\"},\";\n    text += posttext;\n} else {\n    for (i = 0; i < msg.payload.object.attribute[0].collection[0].object.length; i++) { \n        for(x = 0; x < msg.payload.object.attribute[0].collection[0].object[i].attribute.length; x++){\n\t\t    if(msg.payload.object.attribute[0].collection[0].object[i].attribute[x].$.name == \"roomNumber\"){\n\t\t        text += \"{\\\"room\\\": \\\"\" + msg.payload.object.attribute[0].collection[0].object[i].attribute[x].string[0] + \"\\\", \\\"status\\\": \\\"\";\n\t\t    \n\t\t    } \n\t\t    if(msg.payload.object.attribute[0].collection[0].object[i].attribute[x].$.name == \"roomStatus\"){\n\t\t        text += msg.payload.object.attribute[0].collection[0].object[i].attribute[x].object[0].$.staticReference + \"\\\"}\";\n\t\t        if((i+1) < i < msg.payload.object.attribute[0].collection[0].object.length){\n    \t    \t    text += \",\";\n\t    \t    }\n\t        }\n\t    }\n    }\n    finaltext += preetext;\n    finaltext += headtext;\n    finaltext += text;\n    finaltext += posttext;\n}\nif(finaltext == \"\"){\n   finaltext += \"[{\\\"room\\\": \\\"No Rooms\\\", \\\"status\\\": \\\"No status\\\"}]\";\n}\nvar msg1 = { payload: finaltext };\nreturn msg1;\n","outputs":1,"noerr":0,"x":540,"y":260,"wires":[["8a38654e.2f8228"]]},{"id":"8a38654e.2f8228","type":"json","z":"29179d92.0d7652","name":"","property":"payload","action":"","pretty":false,"x":710,"y":260,"wires":[["6a7eaf78.e20e2"]]},{"id":"c0066ed8.2189c","type":"function","z":"29179d92.0d7652","name":"Clinic to JSON","func":"var i;\nvar x;\nvar preetext = \"[\";\nvar headtext = \"\";\nvar text = \"\";\nvar posttext = \"{}]\";\nvar finaltext = \"\";\nif(msg.payload == null){\n    text += \"{\\\"clinicName\\\": \\\"No clinic\\\",\";\n    text += posttext;\n} else {\n    for (i = 0; i < msg.payload.object.attribute[0].collection[0].object.length; i++) { \n        if(msg.payload.object.attribute[0].collection[0].object[0].$.type == \"clinic_scenario.Clinic\" ){\n            for(x = 0; x < msg.payload.object.attribute[0].collection[0].object[i].attribute.length; x++){\n        \t \n    \t\t switch(msg.payload.object.attribute[0].collection[0].object[i].attribute[x].$.name) {\n                    case \"name\":\n                        text += \"{\\\"clinicName\\\": \\\"\" + msg.payload.object.attribute[0].collection[0].object[i].attribute[x].string[0] +\"\\\"},\";\n                        break;\n                    case \"numberOfRooms\":\n                        text += \"{\\\"numberOfRooms\\\": \\\"\" + msg.payload.object.attribute[0].collection[0].object[i].attribute[x].double[0] +\"\\\"},\";\n                        break;\n                    case \"numberOfRoomsINUSE\":\n                        text += \"{\\\"numberOfRoomsINUSE\\\": \\\"\" + msg.payload.object.attribute[0].collection[0].object[i].attribute[x].double[0] +\"\\\"},\";\n                        break;\n                    case \"numberOfRoomsNOTREADY\":\n                        text += \"{\\\"numberOfRoomsNOTREADY\\\": \\\"\" + msg.payload.object.attribute[0].collection[0].object[i].attribute[x].double[0] +\"\\\"},\";\n                        break;\n                    case \"numberOfRoomsREADY\":\n                        text += \"{\\\"numberOfRoomsREADY\\\": \\\"\" + msg.payload.object.attribute[0].collection[0].object[i].attribute[x].double[0] +\"\\\"},\";\n                        break;\n                    default:\n                        text += \"{\\\"other\\\": \\\"\" + msg.payload.object.attribute[0].collection[0].object[i].attribute[x].$.name +\"\\\"},\";\n                }\n             }\n        } else {   \n    \t\t     \n    \t    \n        }\n    }\n    finaltext += preetext;\n    finaltext += headtext;\n    finaltext += text;\n    finaltext += posttext;\n}\nif(finaltext == \"\"){\n   finaltext += \"[{\\\"clinicName\\\": \\\"No Clinic\\\"}]\";\n}\nvar msg1 = { payload: finaltext };\nreturn msg1;\n","outputs":1,"noerr":0,"x":540,"y":120,"wires":[["3986a289.5df59e"]]},{"id":"3986a289.5df59e","type":"json","z":"29179d92.0d7652","name":"","property":"payload","action":"","pretty":false,"x":710,"y":120,"wires":[["bbf27110.549d8"]]},{"id":"c40b9164.67d18","type":"ui_template","z":"29179d92.0d7652","group":"395b5085.357b3","name":"Style","order":1,"width":"1","height":"1","format":"<style>\n    {{msg.style}}\n</style>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":990,"y":60,"wires":[[]]},{"id":"5d1c15a8.94bc1c","type":"http in","z":"29179d92.0d7652","name":"","url":"/clinic-event","method":"post","upload":false,"swaggerDoc":"","x":210,"y":440,"wires":[["dbfcc549.511e58","588e3a2e.ac4484","e8b8d7cd.494e08"]]},{"id":"e8b8d7cd.494e08","type":"http response","z":"29179d92.0d7652","name":"","statusCode":"","headers":{},"x":930,"y":440,"wires":[]},{"id":"dbfcc549.511e58","type":"debug","z":"29179d92.0d7652","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":950,"y":540,"wires":[]},{"id":"588e3a2e.ac4484","type":"ui_template","z":"29179d92.0d7652","group":"395b5085.357b3","name":"Messages","order":3,"width":"6","height":"2","format":"<h2 ng-if=\"true\">Clinic Alerts</h2>\n{{ msg.payload.message }}\n","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":950,"y":480,"wires":[[]]},{"id":"395b5085.357b3","type":"ui_group","z":"","name":"","tab":"56db8743.2cadd8","order":1,"disp":true,"width":"6","collapse":false},{"id":"56db8743.2cadd8","type":"ui_tab","z":"","name":"Entity Viewer","icon":"dashboard","order":2}]
