Node-red samples for DSI/DSI Entity and Msg viewer.txt
[{"id":"b48c7e67.5615a8","type":"inject","z":"a42a3081.58d0a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":"","x":150,"y":60,"wires":[["eb8f233c.729188","f68f4e24.a57ad","3deeadf6.810ab2"]]},{"id":"eb8f233c.729188","type":"http request","z":"a42a3081.58d0a8","name":"Get Rooms","method":"GET","ret":"txt","url":"https://localhost:9443/ibm/ia/rest/solutions/clinic_scenario_solution/entity-types/clinic_scenario.Room","tls":"","x":130,"y":240,"wires":[["48cd05e7.8d0184"]]},{"id":"48cd05e7.8d0184","type":"xml","z":"a42a3081.58d0a8","name":"XML to JSON","property":"payload","attr":"","chr":"","x":320,"y":240,"wires":[["47de312e.25f66"]]},{"id":"3deeadf6.810ab2","type":"template","z":"a42a3081.58d0a8","name":"css","field":"style","fieldType":"msg","format":"html","syntax":"mustache","template":"table {\n    color: #333;\n    font-family: Helvetica, Arial, sans-serif;\n    width: 100%;\n    border-collapse: collapse;\n    border-spacing: 0;\n}\ntd, th {\n    border: 1px solid transparent;\n    /* No more visible border */\n    height: 30px;\n    transition: all 0.3s;\n    /* Simple transition for hover effect */\n}\nth {\n    background: #DFDFDF;\n    /* Darken header a bit */\n    font-weight: bold;\n}\ntd {\n    background: #FAFAFA;\n    text-align: center;\n}\n\n/* Cells in even rows (2,4,6...) are one color */\n\ntr:nth-child(even) td {\n    background: #F1F1F1;\n}\n\n/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */\n\ntr:nth-child(odd) td {\n    background: #FEFEFE;\n}\ntr td:hover {\n    background: #666;\n    color: #FFF;\n}\n\n/* Hover cell effect! */","x":670,"y":60,"wires":[["2615a20a.e8ed76"]]},{"id":"606769.65053898","type":"ui_template","z":"a42a3081.58d0a8","group":"5b097d2a.64fcac","name":"Clinic Status View","order":2,"width":"8","height":"4","format":"\n<h2 ng-if=\"true\">{{ msg.payload[1].clinicName }}</h2>\n<table>\n  <tr><td># Rooms</td><td>{{ msg.payload[2].numberOfRooms }}</td></tr>\n  <tr><td># Ready</td><td>{{ msg.payload[5].numberOfRoomsREADY }}</td></tr>\n  <tr><td># In Use</td><td>{{ msg.payload[3].numberOfRoomsINUSE }}</td></tr>\n  <tr><td># Not Ready</td><td>{{ msg.payload[4].numberOfRoomsNOTREADY }}</td></tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":970,"y":100,"wires":[[]]},{"id":"c3e5225f.03e6c","type":"change","z":"a42a3081.58d0a8","name":"","rules":[{"t":"set","p":"payload.clinicName","pt":"msg","to":"payload.object.attribute[0].collection[0].object[0].attribute[1].string","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":320,"wires":[["861e33d6.b4f288"]]},{"id":"861e33d6.b4f288","type":"function","z":"a42a3081.58d0a8","name":"Clinic to JSON","func":"var i;\nvar x;\nvar preetext = \"[\";\nvar headtext = \"\";\nvar text = \"\";\nvar posttext = \"{}]\";\nvar finaltext = \"\";\nif(msg.payload == null){\n    text += \"{\\\"room\\\": \\\"No Rooms\\\", \\\"status\\\": \\\"No status\\\"},\";\n    text += posttext;\n} else {\n    for (i = 0; i < msg.payload.object.attribute[0].collection[0].object.length; i++) { \n        for(x = 0; x < msg.payload.object.attribute[0].collection[0].object[i].attribute.length; x++){\n\t\t    if(msg.payload.object.attribute[0].collection[0].object[i].attribute[x].$.name == \"roomNumber\"){\n\t\t        text += \"{\\\"room\\\": \\\"\" + msg.payload.object.attribute[0].collection[0].object[i].attribute[x].string[0] + \"\\\", \\\"status\\\": \\\"\";\n\t\t    \n\t\t    } \n\t\t    if(msg.payload.object.attribute[0].collection[0].object[i].attribute[x].$.name == \"roomStatus\"){\n\t\t        text += msg.payload.object.attribute[0].collection[0].object[i].attribute[x].object[0].$.staticReference + \"\\\"}\";\n\t\t        if((i+1) < i < msg.payload.object.attribute[0].collection[0].object.length){\n    \t    \t    text += \",\";\n\t    \t    }\n\t        } \n\t    }\n    }\n    finaltext += preetext;\n    finaltext += headtext;\n    finaltext += text;\n    finaltext += posttext;\n}\nif(finaltext == \"\"){\n   finaltext += \"[{\\\"room\\\": \\\"No Rooms\\\", \\\"status\\\": \\\"No status\\\"}]\";\n}\n//var msg1 = { payload: { msg.payload.object}, {finaltext} };\nvar msg1 = {\n                \"clinicName\": msg.payload.clinicName,\n                \"payload\": finaltext\n            };\nreturn msg1;\n","outputs":1,"noerr":0,"x":500,"y":320,"wires":[["75c713cc.f9c524"]]},{"id":"75c713cc.f9c524","type":"json","z":"a42a3081.58d0a8","name":"","property":"payload","action":"","pretty":false,"x":790,"y":320,"wires":[[]]},{"id":"f68f4e24.a57ad","type":"http request","z":"a42a3081.58d0a8","name":"Get Clinic","method":"GET","ret":"txt","url":"https://localhost:9443/ibm/ia/rest/solutions/clinic_scenario_solution/entity-types/clinic_scenario.Clinic","tls":"","x":120,"y":100,"wires":[["9dfb20a6.0606b8"]]},{"id":"9dfb20a6.0606b8","type":"xml","z":"a42a3081.58d0a8","name":"XML to JSON","property":"payload","attr":"","chr":"","x":320,"y":100,"wires":[["9b5bda43.18cc48"]]},{"id":"966f57b0.5f57d8","type":"ui_template","z":"a42a3081.58d0a8","group":"5b097d2a.64fcac","name":"Room Status View","order":3,"width":"8","height":"4","format":"<table>\n  <tr>\n    <td>Room</td>\n    <td>Status</td>\n  </tr>\n  <tr ng-repeat=\"obj in msg.payload\">\n    <td>{{ obj.room }}</td>\n    <td>{{ obj.status }}</td>\n  </tr>\n</table>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":990,"y":240,"wires":[[]]},{"id":"47de312e.25f66","type":"function","z":"a42a3081.58d0a8","name":"Clinic to JSON","func":"var i;\nvar x;\nvar preetext = \"[\";\nvar headtext = \"\";\nvar text = \"\";\nvar posttext = \"{}]\";\nvar finaltext = \"\";\nif(msg.payload == null){\n    text += \"{\\\"room\\\": \\\"No Rooms\\\", \\\"status\\\": \\\"No status\\\"},\";\n    text += posttext;\n} else {\n    for (i = 0; i < msg.payload.object.attribute[0].collection[0].object.length; i++) { \n        for(x = 0; x < msg.payload.object.attribute[0].collection[0].object[i].attribute.length; x++){\n\t\t    if(msg.payload.object.attribute[0].collection[0].object[i].attribute[x].$.name == \"roomNumber\"){\n\t\t        text += \"{\\\"room\\\": \\\"\" + msg.payload.object.attribute[0].collection[0].object[i].attribute[x].string[0] + \"\\\", \\\"status\\\": \\\"\";\n\t\t    \n\t\t    } \n\t\t    if(msg.payload.object.attribute[0].collection[0].object[i].attribute[x].$.name == \"roomStatus\"){\n\t\t        text += msg.payload.object.attribute[0].collection[0].object[i].attribute[x].object[0].$.staticReference + \"\\\"}\";\n\t\t        if((i+1) < i < msg.payload.object.attribute[0].collection[0].object.length){\n    \t    \t    text += \",\";\n\t    \t    }\n\t        }\n\t    }\n    }\n    finaltext += preetext;\n    finaltext += headtext;\n    finaltext += text;\n    finaltext += posttext;\n}\nif(finaltext == \"\"){\n   finaltext += \"[{\\\"room\\\": \\\"No Rooms\\\", \\\"status\\\": \\\"No status\\\"}]\";\n}\nvar msg1 = { payload: finaltext };\nreturn msg1;\n","outputs":1,"noerr":0,"x":500,"y":240,"wires":[["6c4ad1ec.48a8"]]},{"id":"6c4ad1ec.48a8","type":"json","z":"a42a3081.58d0a8","name":"","property":"payload","action":"","pretty":false,"x":670,"y":240,"wires":[["966f57b0.5f57d8"]]},{"id":"9b5bda43.18cc48","type":"function","z":"a42a3081.58d0a8","name":"Clinic to JSON","func":"var i;\nvar x;\nvar preetext = \"[\";\nvar headtext = \"\";\nvar text = \"\";\nvar posttext = \"{}]\";\nvar finaltext = \"\";\nif(msg.payload == null){\n    text += \"{\\\"clinicName\\\": \\\"No clinic\\\",\";\n    text += posttext;\n} else {\n    for (i = 0; i < msg.payload.object.attribute[0].collection[0].object.length; i++) { \n        if(msg.payload.object.attribute[0].collection[0].object[0].$.type == \"clinic_scenario.Clinic\" ){\n            for(x = 0; x < msg.payload.object.attribute[0].collection[0].object[i].attribute.length; x++){\n        \t \n    \t\t switch(msg.payload.object.attribute[0].collection[0].object[i].attribute[x].$.name) {\n                    case \"name\":\n                        text += \"{\\\"clinicName\\\": \\\"\" + msg.payload.object.attribute[0].collection[0].object[i].attribute[x].string[0] +\"\\\"},\";\n                        break;\n                    case \"numberOfRooms\":\n                        text += \"{\\\"numberOfRooms\\\": \\\"\" + msg.payload.object.attribute[0].collection[0].object[i].attribute[x].double[0] +\"\\\"},\";\n                        break;\n                    case \"numberOfRoomsINUSE\":\n                        text += \"{\\\"numberOfRoomsINUSE\\\": \\\"\" + msg.payload.object.attribute[0].collection[0].object[i].attribute[x].double[0] +\"\\\"},\";\n                        break;\n                    case \"numberOfRoomsNOTREADY\":\n                        text += \"{\\\"numberOfRoomsNOTREADY\\\": \\\"\" + msg.payload.object.attribute[0].collection[0].object[i].attribute[x].double[0] +\"\\\"},\";\n                        break;\n                    case \"numberOfRoomsREADY\":\n                        text += \"{\\\"numberOfRoomsREADY\\\": \\\"\" + msg.payload.object.attribute[0].collection[0].object[i].attribute[x].double[0] +\"\\\"},\";\n                        break;\n                    default:\n                        text += \"{\\\"other\\\": \\\"\" + msg.payload.object.attribute[0].collection[0].object[i].attribute[x].$.name +\"\\\"},\";\n                }\n             }\n        } else {   \n    \t\t     \n    \t    \n        }\n    }\n    finaltext += preetext;\n    finaltext += headtext;\n    finaltext += text;\n    finaltext += posttext;\n}\nif(finaltext == \"\"){\n   finaltext += \"[{\\\"clinicName\\\": \\\"No Clinic\\\"}]\";\n}\nvar msg1 = { payload: finaltext };\nreturn msg1;\n","outputs":1,"noerr":0,"x":500,"y":100,"wires":[["a0779d23.2fae78"]]},{"id":"a0779d23.2fae78","type":"json","z":"a42a3081.58d0a8","name":"","property":"payload","action":"","pretty":false,"x":670,"y":100,"wires":[["606769.65053898"]]},{"id":"2615a20a.e8ed76","type":"ui_template","z":"a42a3081.58d0a8","group":"5b097d2a.64fcac","name":"Style","order":1,"width":"0","height":"0","format":"<style>\n    {{msg.style}}\n</style>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":950,"y":40,"wires":[[]]},{"id":"14e67241.818556","type":"http in","z":"a42a3081.58d0a8","name":"","url":"/clinic-event","method":"post","upload":false,"swaggerDoc":"","x":170,"y":420,"wires":[["bd9e9ea4.cc0bf","d22506f.ee8cff8","f1d9d282.47f418"]]},{"id":"f1d9d282.47f418","type":"http response","z":"a42a3081.58d0a8","name":"","statusCode":"","headers":{},"x":890,"y":420,"wires":[]},{"id":"bd9e9ea4.cc0bf","type":"debug","z":"a42a3081.58d0a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":910,"y":520,"wires":[]},{"id":"d22506f.ee8cff8","type":"ui_template","z":"a42a3081.58d0a8","group":"5b097d2a.64fcac","name":"Messages","order":3,"width":"8","height":"2","format":"<h2 ng-if=\"true\">Clinic Alerts</h2>\n{{ msg.payload.message }}\n","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":910,"y":460,"wires":[[]]},{"id":"5b097d2a.64fcac","type":"ui_group","z":"","name":"","tab":"605ff514.b665d4","order":1,"disp":false,"width":"8","collapse":false},{"id":"605ff514.b665d4","type":"ui_tab","z":"","name":"Entity Viewer","icon":"dashboard","order":2}]
